In [ ]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [ ]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(columns = ['EIN', 'USE_CASE'], inplace = True)

In [ ]:
# Determine the number of unique values in each column.
application_df.nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [ ]:
# Look at APPLICATION_TYPE value counts for binning
app_types = application_df['APPLICATION_TYPE'].value_counts()
app_types

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [ ]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = (app_types[app_types < 500]).index.tolist()

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [ ]:
# Look at NAME value counts for binning
name_value = application_df['NAME'].value_counts()
name_value

Other                                                       12045
PARENT BOOSTER USA INC                                       1260
TOPS CLUB INC                                                 765
UNITED STATES BOWLING CONGRESS INC                            700
WASHINGTON STATE UNIVERSITY                                   492
                                                            ...
UNITY RALLY LLC                                                 1
PROFESSIONAL ASSOCIATION OF SOCIAL WORKERS IN HIV & AIDS        1
STING AND HONEY COMPANY INC                                     1
KAISER CENTER INC                                               1
WATERHOUSE CHARITABLE TR                                        1
Name: NAME, Length: 13973, dtype: int64

In [ ]:
# Choose a cutoff value and create a list of names to be replaced
# use the variable name `names_to_replace`
names_to_replace = name_value[name_value < 100].index.tolist()

# Replace in dataframe
for name in names_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(name,"Other")

# Check to make sure binning was successful
application_df['NAME'].value_counts()

Other                                                                 25987
PARENT BOOSTER USA INC                                                 1260
TOPS CLUB INC                                                           765
UNITED STATES BOWLING CONGRESS INC                                      700
WASHINGTON STATE UNIVERSITY                                             492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                         408
PTA TEXAS CONGRESS                                                      368
SOROPTIMIST INTERNATIONAL OF THE AMERICAS INC                           331
ALPHA PHI SIGMA                                                         313
TOASTMASTERS INTERNATIONAL                                              293
MOST WORSHIPFUL STRINGER FREE AND ACCEPTED MASONS                       287
LITTLE LEAGUE BASEBALL INC                                              277
INTERNATIONAL ASSOCIATION OF LIONS CLUBS                                266
MOMS CLUB                                                               210
INTERNATIONAL ASSOCIATION OF SHEET METAL AIR RAIL & TRANSPORTATION      206
AMERICAN ASSOCIATION OF UNIVERSITY WOMEN                                197
FARMERS EDUCATIONAL AND COOPERATIVE UNION OF AMERICA                    166
KNIGHTS OF COLUMBUS                                                     158
HABITAT FOR HUMANITY INTERNATIONAL INC                                  154
TENNESSEE ORDER OF THE EASTERN STAR                                     151
VETERANS OF FOREIGN WARS OF THE UNITED STATES AUXILIARY                 144
PTA UTAH CONGRESS                                                       140
THE UNITED STATES PONY CLUBS INC                                        136
CIVITAN INTERNATIONAL                                                   131
SIGMA BETA DELTA INC                                                    127
HONOR SOCIETY OF PHI KAPPA PHI                                          107
MONTANA 4-H FOUNDATION INC                                              107
WASHINGTON STATE GRANGE                                                 106
UNIVERSITY OF WYOMING                                                   105
DEMOLAY INTERNATIONAL                                                   104
SERTOMA INC                                                             103
Name: NAME, dtype: int64

In [ ]:
dummies_numeric_df2 = pd.get_dummies(application_df)
dummies_numeric_df2

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_ALPHA PHI SIGMA,NAME_AMATEUR ATHLETIC UNION OF THE UNITED STATES INC,NAME_AMERICAN ASSOCIATION OF UNIVERSITY WOMEN,NAME_CIVITAN INTERNATIONAL,NAME_DEMOLAY INTERNATIONAL,NAME_FARMERS EDUCATIONAL AND COOPERATIVE UNION OF AMERICA,NAME_HABITAT FOR HUMANITY INTERNATIONAL INC,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [ ]:
# Split our preprocessed data into our features and target arrays
y = dummies_numeric_df2["IS_SUCCESSFUL"].values
X = dummies_numeric_df2.drop(columns="IS_SUCCESSFUL").values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [ ]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [ ]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 15
hidden_nodes_layer2 = 10

nn2 = tf.keras.models.Sequential()

# First hidden layer
nn2.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim = number_input_features, activation="relu"))

# Second hidden layer
nn2.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn2.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn2.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_8 (Dense)             (None, 15)                2025

 dense_9 (Dense)             (None, 10)                160

 dense_10 (Dense)            (None, 1)                 11

=================================================================
Total params: 2196 (8.58 KB)
Trainable params: 2196 (8.58 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [ ]:
# Compile the model
nn2.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [ ]:
# Train the model
fit_model = nn2.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 4s 4ms/step - loss: 0.5337 - accuracy: 0.7378
Epoch 2/50
804/804 [==============================] - 2s 3ms/step - loss: 0.4951 - accuracy: 0.7531
Epoch 3/50
804/804 [==============================] - 3s 4ms/step - loss: 0.4908 - accuracy: 0.7567
Epoch 4/50
804/804 [==============================] - 3s 4ms/step - loss: 0.4884 - accuracy: 0.7589
Epoch 5/50
804/804 [==============================] - 3s 4ms/step - loss: 0.4874 - accuracy: 0.7604
Epoch 6/50
804/804 [==============================] - 3s 4ms/step - loss: 0.4860 - accuracy: 0.7608
Epoch 7/50
804/804 [==============================] - 2s 3ms/step - loss: 0.4853 - accuracy: 0.7611
Epoch 8/50
804/804 [==============================] - 3s 4ms/step - loss: 0.4845 - accuracy: 0.7616
Epoch 9/50
804/804 [==============================] - 3s 4ms/step - loss: 0.4844 - accuracy: 0.7619
Epoch 10/50
804/804 [==============================] - 3s 4ms/step - loss: 0.4839 - accuracy: 0.7629
Epoch 11/50
804/804 [==============================] - 2s 3ms/step - loss: 0.4831 - accuracy: 0.7612
Epoch 12/50
804/804 [==============================] - 2s 3ms/step - loss: 0.4830 - accuracy: 0.7639
Epoch 13/50
804/804 [==============================] - 3s 4ms/step - loss: 0.4825 - accuracy: 0.7618
Epoch 14/50
804/804 [==============================] - 3s 4ms/step - loss: 0.4821 - accuracy: 0.7626
Epoch 15/50
804/804 [==============================] - 3s 4ms/step - loss: 0.4822 - accuracy: 0.7630
Epoch 16/50
804/804 [==============================] - 3s 4ms/step - loss: 0.4814 - accuracy: 0.7631
Epoch 17/50
804/804 [==============================] - 2s 3ms/step - loss: 0.4815 - accuracy: 0.7638
Epoch 18/50
804/804 [==============================] - 3s 4ms/step - loss: 0.4808 - accuracy: 0.7642
Epoch 19/50
804/804 [==============================] - 4s 5ms/step - loss: 0.4811 - accuracy: 0.7634
Epoch 20/50
804/804 [==============================] - 2s 3ms/step - loss: 0.4808 - accuracy: 0.7636
Epoch 21/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4807 - accuracy: 0.7655
Epoch 22/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4804 - accuracy: 0.7636
Epoch 23/50
804/804 [==============================] - 3s 4ms/step - loss: 0.4804 - accuracy: 0.7640
Epoch 24/50
804/804 [==============================] - 4s 5ms/step - loss: 0.4804 - accuracy: 0.7640
Epoch 25/50
804/804 [==============================] - 4s 4ms/step - loss: 0.4797 - accuracy: 0.7642
Epoch 26/50
804/804 [==============================] - 3s 4ms/step - loss: 0.4797 - accuracy: 0.7643
Epoch 27/50
804/804 [==============================] - 3s 3ms/step - loss: 0.4798 - accuracy: 0.7647
Epoch 28/50
804/804 [==============================] - 2s 3ms/step - loss: 0.4797 - accuracy: 0.7648
Epoch 29/50
804/804 [==============================] - 4s 5ms/step - loss: 0.4794 - accuracy: 0.7653
Epoch 30/50
804/804 [==============================] - 3s 4ms/step - loss: 0.4789 - accuracy: 0.7661
Epoch 31/50
804/804 [==============================] - 2s 3ms/step - loss: 0.4793 - accuracy: 0.7651
Epoch 32/50
804/804 [==============================] - 3s 3ms/step - loss: 0.4791 - accuracy: 0.7654
Epoch 33/50
804/804 [==============================] - 3s 4ms/step - loss: 0.4792 - accuracy: 0.7644
Epoch 34/50
804/804 [==============================] - 4s 5ms/step - loss: 0.4785 - accuracy: 0.7652
Epoch 35/50
804/804 [==============================] - 4s 5ms/step - loss: 0.4788 - accuracy: 0.7657
Epoch 36/50
804/804 [==============================] - 3s 3ms/step - loss: 0.4785 - accuracy: 0.7651
Epoch 37/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4788 - accuracy: 0.7641
Epoch 38/50
804/804 [==============================] - 3s 4ms/step - loss: 0.4784 - accuracy: 0.7658
Epoch 39/50
804/804 [==============================] - 4s 5ms/step - loss: 0.4782 - accuracy: 0.7649
Epoch 40/50
804/804 [==============================] - 4s 4ms/step - loss: 0.4780 - accuracy: 0.7647
Epoch 41/50
804/804 [==============================] - 3s 4ms/step - loss: 0.4781 - accuracy: 0.7657
Epoch 42/50
804/804 [==============================] - 3s 4ms/step - loss: 0.4778 - accuracy: 0.7655
Epoch 43/50
804/804 [==============================] - 2s 3ms/step - loss: 0.4778 - accuracy: 0.7647
Epoch 44/50
804/804 [==============================] - 4s 5ms/step - loss: 0.4777 - accuracy: 0.7654
Epoch 45/50
804/804 [==============================] - 3s 4ms/step - loss: 0.4778 - accuracy: 0.7653
Epoch 46/50
804/804 [==============================] - 3s 4ms/step - loss: 0.4777 - accuracy: 0.7660
Epoch 47/50
804/804 [==============================] - 3s 3ms/step - loss: 0.4776 - accuracy: 0.7654
Epoch 48/50
804/804 [==============================] - 2s 3ms/step - loss: 0.4777 - accuracy: 0.7650
Epoch 49/50
804/804 [==============================] - 4s 5ms/step - loss: 0.4771 - accuracy: 0.7647
Epoch 50/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4771 - accuracy: 0.7666

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn2.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5047 - accuracy: 0.7527 - 765ms/epoch - 3ms/step
Loss: 0.5047098398208618, Accuracy: 0.7526530623435974

In [ ]:
# Export our model to HDF5 file
from google.colab import files
nn2.save("AlphabetSoupCharity_Optimization.h5")
files.download("AlphabetSoupCharity_Optimization.h5")

/usr/local/lib/python3.10/dist-packages/keras/src/engine/training.py:3079: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(